@media (min-width: 1024px) {
    
}
@media (min-width: 740px) and (max-width: 1023px){
    
}
@media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
}